<div mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="data.firstName" placeholder="First Name" id="firstName" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.lastName" placeholder="Last Name" id="lastName" required>
    </mat-form-field>
    <mat-form-field>
        <!-- TODO change this to datepicker -->
        <input matInput [(ngModel)]="data.dateOfBirth" placeholder="Birthday" id="dateOfBirth" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.gender" placeholder="Gender" id="gender" maxlength="2" required>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Update</button>
</div>